body{
    background-color: rgb(22, 10, 10);
}

#divPageInitial{
    padding: 30px;
    margin-top: 30px;
    display: inline-block;

}
h1{
    color: peru;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#brownie{ 
    
    width: 200px;
    height: 200px;
    border: solid black;
}
#mousse{
    width: 200px;
    height: 200px;
    border: solid black;
}
#tortaMaça{
    width: 200px;
    height: 200px;
    border: solid black;
}
#cookies{
    width: 200px;
    height: 200px;
    border: solid black;
}
